* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  gap: 30px;
  background: #1c2630;
}

.btn {
  display: inline-block;
  position: relative;
  font-size: 1em;
  padding: 15px 40px;
  background: transparent;
  border: 2px solid var(--clr);
  font-weight: 500;
  cursor: pointer;
  border-radius: 40px;
  color: var(--clr);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: 1s;
  overflow: hidden;
}
.btn:hover {
  background: var(--clr);
  box-shadow: 0 0 25px var(--clr), 0 0 100px var(--clr), 0 0 150px var(--clr);
}

.btn span {
  position: relative;
  display: inline-block;
  transition: 0.5s;
  text-shadow: 0 35px #fff;
  transform: translateY(0px);
}
.btn:hover span.hover {
  transform: translateY(-35px);
}
.btn span.hover {
  transform: translateY(-35px);
}
